body {
  background-image: url(/home/valeria/Documentos/dev/newproyect/assets/abstract-brain-background-6008717.jpg);
  background-repeat: no-repeat;
  background-position:top;
}
.login-table {
  text-align: center;
  color:#1C1824;
  border-style:outset;
  border-width: 3px;
  color:#4a148c;
  background-color:rgba(255, 250, 250, 0.8);
  border-radius: 10px;
  padding-top: 14px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 14px;
  border-collapse: inherit;
}


img {
  align-items: center
}

h1 {

  text-align: center;
  color:#1C1824;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
 }

h2 {
  color: #3A4038;
  font-family: fantasy;
  font-size: 16px;
  text-align: center;
}



.class2 {
  background-color:#F9FBFF;
}

.classe3 {
  text-align: center;
  color:#1C1824;
  font-family: 'Slabo 27px', serif;
  font-size: 18px;
}

.bordeformulario {
  border-style:ridge;
  border-width: 5px;
  color:#1a202f;
}



button{
  background-color:#BEB9FF !important;
  cursor: pointer;
  text-align: center;
  color: #25242d !important;
  font-family: 'Slabo 27px', serif !important;
  font-size: 14px;
  border-radius: 2px !important;
  margin-top: 12px !important;
}
