<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../style.css"></link>
    <meta charset="ut-8">
    <title>newproyect HTML</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>

  <body class="class2">
    <div class="container-fluid">
        <h1>Formulario Epilepsia</h1>
        <h2>Este formulario se realiza con el fin de registrar el numero de pacientes con los diferentes sindromes
          epilepticos, recuerde que esta informacion es confidencial.</h2>
    </div>
    <div class="table-responsive">
      <center>
        <form>
          <table class="row">
            <tr>
              <td>
                <center>
                  <label for="Pnombre">Nombre:</label>
                </center>
              </td>
              <td>
                <center>
                  <input type="text" name="Pnombre"><br>
                </center>
              </td>
            </tr>
            <tr>
              <td>
                <center>
                  <label for="apel">Apellido:</label>
                </center>
              </td>
              <td>
                <center>
                  <input type="text" name="apel"><br>
                </center>
              </td>
            </tr>
            <tr>
              <td>
                <center>
                  <label for="documento">Numero de documento:</label>
                </center>
              </td>
              <td>
                <center>
                  <input type="text" name="documento"><br>
                </center>
              </td>
            </tr>
            <tr>
              <td>
                <center>
                  <label for="edad">Edad:</label>
                </center>
              </td>
              <td>
                <center>
                  <input type="text" name="edad"><br>
                </center>
              </td>
            </tr>
            <tr>
              <td>
                <center>
                  <label for="genero">Genero:</label>
              </td>
              <td>
                <center>
                  <select name="Genero">
                    <option value="Masculino">M</option>
                    <option value="Femenino">F</option>
                    <option value="Otro">O</option>
                  </select>
                </center>
              </td>
            </tr>
            <tr>
              <td>
                <center>
                  <label for="tipo de epilepsia">Tipo de epilepsia:</label>
              </td>
              <td>
                <center>
                  <select name="Tipo de epilepsia">
                    <option value="epilepsia genetica">Epilepsia genetica</option>
                    <option value="epilepsia sintomatica">Epilepsia sintomatica</option>
                    <option value="epilepsia metabolica">Epilepsia metabolica</option>
                  </select>
                </center>
              </td>
            </tr>
            <tr cols>
              <center>
                <td colspan="2">
                  <p>En caso de presentar alguno de los sindromes de epilepsia genetica, responda las siguientes preguntas:</p>
                </td>
              </center>
              </tr>
            <tr>
              <td>
                <center>
                  <label for="tipo de epilepsia genetica">Tipo de epilepsia genetica:</label>
              </td>
              <td>
                <center>
                  <select name="Tipo de epilepsia genetica">
                    <option value="epilepsia de ausencias infantiles">Epilepsia de ausencias infantiles</option>
                    <option value="epilepsia de ausencias juveniles">Epilepsia de ausencias juveniles</option>
                    <option value="epilepsia mioclonica juvenil">Epilepsia mioclonica juvenil</option>
                    <option value="Crisis tonico clonicas generalizadas">Crisis tonico clonicas generalizadas</option>
                  </select>
                </center>
              </td>
            </tr>
            <tr>
              <td>
                <center>
                  <label for="tipos de crisis">Tipo de crisis:</label>
              </td>
              <td>
                <center>
                  <select name="Tipos de crisis">
                    <option value="Ausencias">Ausencias</option>
                    <option value="Mioclonias">Mioclonias</option>
                    <option value="Crisis tonico clonicas generalizadas">Crisis tonico clonicas generalizadas</option>
                  </select>
                </center>
              </td>
            </tr>
            <tr>
              <td>
                <center>
                  <label for="tratamiento">Tratamiento</label>
                </center>
              </td>
              <td>
                <center>
                  <input type="text" name="tratamiento"><br>
                </center>
              </td>
            </tr>
            <tr>
              <td>
                <center>
                  <label for="edad de inicio">Edad de inicio</label>
                </center>
              </td>
              <td>
                <center>
                  <input type="text" name="edad de inicio"><br>
                </center>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <center>
                  <button type="submit">Enviar</button>
                  <button type="reset">Borrar</button>
                </center>
              </td>
            </tr>
          </table>
        </center>
        </form>
      </center>
    </div>
  </body>
</html>
